.title-top-plan-trips{
    text-align: center;
    text-transform: uppercase;
    color: #006E5D;
    font-weight: 500;
    font-size: 1.2rem;
}
.description-top-plan-trips{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}