.container-jumbotron{
    background-image: url('https://images.unsplash.com/photo-1518548419970-58e3b4079ab2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    min-height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.body-jumbotron{
    padding: 5% 25%;
}
.title-jumbotron{
    font-size: 1.2em;
    color: white;
}
.location-jumbotron{
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.container-search{
    background-color: white;
    margin:0px 25%;
    padding:20px;
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.input-search{
    flex:1;
    margin:0px 20px;
    padding:10px ;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    padding-left: 25px;
    outline: none;
    background-color: rgba(240, 240, 240, 1);
    border: 2px solid rgba(240, 240, 240, 1);
    border-radius: 5px;
}
.button-search{
    padding:10px;
    background-color: #FF783A;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}
.container-benefit{
    background-color: #006E5D;
    padding-top: 60px;
    padding:5% 15%;
}
.title-benefit{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.description-benefit{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
.content-benefit{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.body-benefit{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.icon-benefit{
    margin:0px auto;
}
.title-content-benefit{
    margin: 10px 0px;
    font-weight: 600;
}
.container-slider{
    padding: 80px 15%;
    background-color: white;
}
.body-slider{
    position: relative;
    /* margin: 0px 20px; */
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    width: 200px;
    height: 100px;
    padding: 0px 10px !important;
}
.img-content-slider{
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.content-slider{
    position: absolute;
    bottom: 0;
    left:30px;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    /* margin-left:20px ; */
    /* padding:0px 10px; */
    /* box-sizing: border-box; */
}
.title-content-slider{
    flex:1;
    text-transform: uppercase;
}
.icon-content-slider{
    flex:1;
    text-align: end;
    font-size: 1.2rem;
    font-weight: 600;
    color: #006E5D;
}
.container-top-destination{
    margin:5% 15%;
}
.body-top-destination{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.title-top-destination{
    text-align: center;
    text-transform: uppercase;
    color: #006E5D;
    font-weight: 500;
    font-size: 1.2rem;
}
.description-top-destination{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.img-content-top-destination{
    width: 300px;
    height: 400px;
}
.container-content-top-destination{
    position: relative;
}
.body-content-top-destination{
    position: absolute;
    bottom:40px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.title-content-top-destination{
    text-align: center;
    font-size: 18pt;
    font-weight: 600;
    margin-bottom: 10px;
}
.description-content-top-destination{
    text-align: center;
}
.container-link-top-destination{
    display: flex;
    justify-content: center;
}
.body-link-top-destination{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link-top-destination{
    margin: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color:#006E5D;
}
.container-card-tours{
    width: 300px;
    background-color: white;
    border-radius:5px;
    overflow: hidden;
}
.container-featured-tours{
    background-color: #fafafa;
    padding: 5% 15%;
}
.body-card-tours{
    width: 100%;
    position: relative;
}
.content-top-card{
    position: absolute;
    top:10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.button-top-card{
    padding:5px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 0.7em;
    color: white;
    background-color: #FF4248;
}
.container-content-featured-tours{
    display: flex;
    flex-wrap: wrap;
    gap: 44px;
    margin:40px 0px;
}
.content-bottom-card{
    position: absolute;
    bottom:10px;
    left: 10px;
    right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.text-content-bottom-card{

}
.content-card-tours{
    padding: 5px;
}
.review-content-card-tours{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-review-content-card-tours{
    font-size: 12px;
    font-weight: 600;
    color:#FF4248;
}
.title-card-tours{
    font-weight: 600;
    font-size: 1.4rem;
    color:#292929;
}
.description-card-tours{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin: 5px 0px;
}
.description-card-tours>p:nth-child(2){
    font-weight: 600;
}
.available-ticket-card-tours{
    border-top: solid 2px rgba(240, 240, 240, 1);
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    padding: 20px 0px;
    color:#006E5D;
    font-size: 1.2rem;
}
.ticket-available-ticket-card-tours{
    display: flex;
    justify-content: flex-start;
}
.icon-available-ticket-card-tours{
    width: 20px;
    padding-right: 5px;
    color: #006E5D;
}