.container-link-top-destination{
    display: flex;
    justify-content: center;
}
.body-link-top-destination{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link-top-destination{
    margin: 10px 0px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color:#006E5D;
}